# Файлы и директории, которые нужно игнорировать

# Виртуальное окружение
venv/
venv3/
env/
env3/
__pycache__/
*.py[cod]

# Файлы миграций базы данных
*.sqlite3
db.sqlite3

# Файлы настроек проекта (лучше использовать .env файлы)
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3-journal
.env

# Файлы локализации
*.mo
*.pot

# Сгенерированные файлы статики
__pycache__
/staticfiles/

# Файлы медиа
/media/

# Файлы логов
*.log

# Файлы настроек IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Временные файлы
*.bak
*.swp
Thumbs.db
Desktop.ini


